#employees-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #employees-table th, #employees-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employees-table th {
    background-color: #f2f2f2;
  }
  
  #employees-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }